[Unit]
Description=webapp Service
After=network.target


[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/webapp
ExecStart=/usr/bin/node /home/ec2-user/webapp/index.js
EnvironmentFile=/home/ec2-user/webapp/.env
Restart=always

[Install]
WantedBy=multi-user.target
